table {
  border: 1px solid #111;
  border-collapse: collapse; /* Ensures no gaps between borders */
}

th,
td {
  padding: 5px; /* Add some padding for spacing */
  border: 1px solid #111; /* Add a thin border */
  text-align: left; /* Align content to the left by default */
}

.value-cell {
    min-width: 400px;
    word-break: break-word;
}

.modal-opened {
    display: block;
}